.temp1 {
    margin: 50px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    background-color: var(--accent-bg);
    border-radius: 15px;

    ul{
        width: 50%;
        li{
            margin: 5px;
            text-align: left;
        }
    }
}