/* This line properly imports tailwind */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base{
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

:root {
    scroll-behavior: smooth;
    scrollbar-color: var(--text) transparent;

    /* color-scheme: dark; */

    font-synthesis: none;
    font-optical-sizing: auto;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --image-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/* body p, body a, body li { font-size: 1.2rem; }
body h1 { font-size: 2.8rem; }
body h2 { font-size: 2.6rem; }
body h3 { font-size: 2.4rem; }
body h4 { font-size: 2.2rem; }
body h5 { font-size: 2.0rem; }
body h6 { font-size: 1.8rem; } */